<div class="container text-center grid">
  <div class="dashboard-card element1">
    <div class="card-content">
      <img src="https://kitt.lewagon.com/placeholder/users/nicolasang" alt="" width="150" class="img-circle">
      <h2>Nicolas Ang</h2>
      <p>Founder @ Flitter</p>
      <a href="#" class="btn btn-primary btn-lg">Get in touch</a>
    </div>
  </div>

  <div class="dashboard-card element2">
    <div class="card-content">
      <h3>3,536</h3>
      <p>contributions</p>
    </div>
  </div>

  <div class="dashboard-card element3">
    <div class="card-content">
      <h3>758</h3>
      <p>followers</p>
    </div>
  </div>

  <div class="dashboard-card element4">
    <div class="card-content">
      <h3>119</h3>
      <p>repositories</p>
    </div>
  </div>

  <div class="dashboard-card element5">
    <div class="card-content">
      <h3>More about Nicolas</h3>
      <p class="text-justify">
        I have been with the Singapore Economic Development Board just shy of a decade. My key roles were in developing Singapore's space industry development strategy, and promoting foreign investments into Singapore. The companies that I deal with come in all shapes and sizes, ranging from amongst the world’s largest resource companies to fast-growing tech startups. I am now completing my full-stack development course at Le Wagon.
      </p>
    </div>
  </div>
</div>

